<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874067257233-b8ddug2tagd3r2k7asmh93qnhdnc4a2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874067257233-b8ddug2tagd3r2k7asmh93qnhdnc4a2v</string>
	<key>API_KEY</key>
	<string>AIzaSyDBgAehGjYXyu6-3snnwhGK6Yidl0P91BU</string>
	<key>GCM_SENDER_ID</key>
	<string>874067257233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathantri.ChatDemoApp</string>
	<key>PROJECT_ID</key>
	<string>chat-demo-app-8871d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-demo-app-8871d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874067257233:ios:b5a0bc0045f0de28745c30</string>
</dict>
</plist>